:root {
    --white: #ffffff;
    --ultralightgray: #f4f4f4;
    --lightgray: #f8f8f8;
    --middlegray: #d4d4d4;
    --deepgray: #3C3C3C;
    --gray: #9f9f9f;
    --black: #141414;
    --alert: #bf9191;
    --attention: #8ab69b;
}